# See http://help.github.com/ignore-files/ for more about ignoring files.


# docs
server/out/*

# dependencies
node_modules
server/bower_components

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
