.Login:before
	content: "\2699"

.Logout:before
	content: "\2B05"

.Delete
	a
		padding-top: 3px !important
		&:after
			content: "\2717"

.menu
	font-size: 1em
	margin-top: 5px

.menu:after
	content: "\2630"

.Microfono
	font-size: 1.4em !important

.controlPersianas
	width: 143px
	margin: 0px 0 0 -39px
	border: 1px solid #ccc
	height: 34px
	border-radius: 36px


	li
		display: inline-block
		width: 47px

		a[class*=icon]
			margin: -16px 9px
			font-size: 2em
			color: $font-color !important

	.iconDOWN:before 
		content: "\25BC"

	.iconSTOP:before
		content: "\25FC"

	.iconUP:before
		content: "\25B2"