.Login:before
	content: "\2699"

.Logout:before
	content: "\2B05"

.Delete
	a
		padding-top: 3px !important
		&:after
			content: "\2717"

table
	.Delete
		a
			margin-top: 12px
			color: red

.menu
	font-size: 1em
	margin-top: 5px

	&:after
		content: "\2630"


/* Iconos + y Tilde */
.Add a:before
	content: "\271A"

.Save a:after
	content: "\2713"


.Lamp0 
	a
		color: #c7c708

		&:before
			content: "\2600"

.Lamp1 
	a:before
		content: "\25CF"
		color: grey

.Activa0 
	a
		color: $font-color

		&:before
			content: "\2610"

.Activa1 
	a
		color: #384259

		&:before
			content: "\2611"

.Microfono
	font-size: 1.4em !important

.Reloj a:before
	content: "\23f1"

.controlPersianas
	width: 143px
	margin: 0px 0 0 -39px
	border: 1px solid #ccc
	height: 34px
	border-radius: 36px


	li
		display: inline-block
		width: 47px

		a[class*=icon]
			margin: -16px 9px
			font-size: 2em
			color: $font-color !important

	.iconDOWN:before 
		content: "\25BC"

	.iconSTOP:before
		content: "\25FC"

	.iconUP:before
		content: "\25B2"


/* Google now mic */
.mic 
	margin: 0 auto

	h1, p 
		font-size: 2em
		text-align: center
		margin: 0 auto
		line-height: 1.4em
		max-width: 250px
		font-size: 1em
	h1 
		font-size: 2.5em
		
.mic :before, .mic :after
	content: ''
	position: absolute
	background-color: #fff

.mc
	position: absolute
	top: 50% 
	left: 37%
	height: 24%
	width: 26.5%
	overflow: hidden

.mc:before
	bottom: 50%
	width: 100% 
	height: 100%
	box-sizing: border-box
	border-radius: 50%
	border: 0.5em solid #fff
	background: none

.mc:after
	top: 50% 
	left: 40%
	width: 20% 
	height: 25%

.googleNowMic
	position: relative
	margin: 5% auto
	background-color: #FE2222
	border-radius: 50%
	width: 5em
	height: 5em
	box-shadow: 5px 5px 5px #888
	border: 2em solid #F1F1F3

.googleNowMic:after
	top: 30% 
	left: 43%
	height: 15% 
	width: 14%
	border-top-left-radius: 50%
	border-top-right-radius: 50%

.googleNowMic:before
	top: 40% 
	left: 43%
	height: 15% 
	width: 14%
	border-bottom-left-radius: 50%
	border-bottom-right-radius: 50%
