html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strike,
center,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
menu,
nav,
mark{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    cursor: pointer;
    color: #000;
}
.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.showfalse {
    display:none !important;
}

table {
    width: 100%;
    margin-bottom:20px;
}
table td {
    display:inline-block;
    text-align: left;
}
td.editRowtrue a {
    float:right;
    color:green;
    font-size:2em;
    margin-left:10px;
}
td.editRowfalse a {
    display: none;
}
table td:last-child {
    float: right;
}

label {
    padding: 10px 0;
    font-weight:bold;
}
input[type="text"],
textarea,
select {
    margin-top: 5px;
    border-radius: 2px;
    padding: 3px;
}
h1 { font-size: 1em; }
div.left {
    float: left;
    width: 100%;
    text-align: left;
}
html {
    height: 100%;
}
body {
    line-height: 1;
    font-family: Arial;
    overflow-x: hidden;
    padding: 46px 0 !important;
	font-size:18px;
    width: 100%;
    margin: 0 auto;
}
form input{
    padding: 15px 0 15px 11px !important;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table tr {
    display: inline-block;
    width: 100%;
    border: 1px solid #8EA69E;
    margin-bottom: -1px;
    padding: 10px;
}
table td:last-child {
    display:inline-block;
    margin-right:15px;
}

td.middle {
    text-align:center;
}
td.middle + td{
    text-align:right;
}
.container {
    padding:15px 10px 10px 10px    
}

/* ICONOS */
.container > div ul {
    right:60px;
}
header{
  position: fixed;
  width: 100%;
}
.headerIcons {
    float: right;
    top: 6px;
    position: relative;
}

.headerIcons li {
    float:left;
    width:40px;
}
.headerIcons li a{
  margin:0;
  display:inline-block;
}

header a.back {
    position:absolute;
    left:7px;
    top:10px;
}
header li.iconReloj {
    width:95px;
}
header li.iconReloj a {
     font-size: 1.8em !important;
}
header .iconMAS { margin-top:5px !important; }

.headerIcons li a.menu
{
  margin-top:8px;
}

header h1 {
    position:absolute;
    top:0;
    left:0;
}
.container > div ul:first-child {
    top:7px;
}
a[class*="icon"], li[class*="icon"] a {
    color:#fff;
    font-size:1.3em; 
}
.listIcons{
    display:inline-block;
    z-index:2;
}
.listIcons li{
    margin-left: 14px;
    float:left;    
}
.iconDOWN:before { content: "\25BC" }
.iconSTOP:before { content: "\25FC" }
.iconUP:before { content: "\25B2" }
.iconLAMP0:before { content:"\2600" }
.iconLAMP1 {
    margin-right:8px;
    font-size:1.6em !important;
}
.iconLAMP0 { color:#c1c100 !important; }
.iconLAMP1:before { content:"\25CF"; }
.iconLAMP1:before{ color:grey !important; }
.iconACTIVA0 { color:grey !important; }
.iconACTIVA0:before { content: "\2610" }
.iconACTIVA1:before { content: "\2611" }
.iconMAS:before { content: "\271A" }
.iconMAS {
    font-size: 1.5em!important;
}
.iconOK{
    font-size:2.1em !important;
}
.iconOK:after { content: "\2713" }

li.iconReloj a span {
    font-size: .7em!important;
}
li.iconReloj a:before { content: "\23f1" }
.iconDELETE { color:red !important; }
.iconDELETE:after { content: "\2717" }
.iconEdit:after { content: "\270D"; }

.back:before { content: "\2770"; }
.menu {
    font-weight:bold;
    top: 14px;
}
.menu:after { content: "\2630"; }
.controlPersianas {
    width:180px;
    margin:-8px 0 0 -24px;
}
.controlPersianas li {
    display:inline-block;
    width:30%;
}
.controlPersianas a[class*=icon] {
    font-size:2.2em;
    color:#03ae74 !important;
}
/* ICONOS */
/* FORM */
input:valid,
input[type='text'] {
  border: 1px solid green;
}
input[type=text] {
    font-size:1em;
    box-shadow: 5px 5px 5px #888888;
}
input:invalid,
input.validfalse {
  border: 1px solid red;
}
/* MENU APLICACION*/
header {
    background-color: #03ae74;
    width: 100%;
    height: 50px;
    text-align: left;
    top: 0;
    position: fixed;
    z-index: 1;
    left: 0;
}
header h1 {
    display: block;
    color: #fff;
    padding-top:15px;
    margin-left: 35px;
}
header #loading div {
    margin: -8px auto;
}
.menuList li {
    margin: 15px 5px;
}

/*CasaCtrl HOME*/
button,
.button {
    font-size: 1em;
    background: #fff;
    border:1px solid #001C13;
    color:#001C13;
    display: block;
    border-radius: 3px;
    min-width:60px !important;
    font-weight: bold;
    padding: 13px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.popup {
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:90%;
    text-align:center;
    margin:20px auto;
    background:#fff;
    position:fixed;
    z-index:5;
}
.popup *{
    width:auto;
    margin:30px 10px 0 10px;
}
.popup input {
    padding:10px;
    width:80%;
}
.popup input:last-child {
    margin-bottom:30px;
}
/*DISPOSITIVOS*/
.popup.dispositivos {
    width: 300px;
    height: 254px;
}

table.dispositivos ul li a {
    font-size:2.6em;
    color:#03ae74;
}
table.dispositivos tr td div {
    width:80%;
}

table.dispositivos td {
    padding:6px 5px 0px 5px;
}

table tr td div{
    width:50%;
    position:relative;
    display:inline-block;
}

td.editRowtrue a {
    position:absolute;
    right:-50px;
    top:0;
}

table.dispositivos tr {
    position: relative;
    height: 67px;
    padding: 1px;
}
table.dispositivos tr .iconEdit{
    position: absolute;
    top: 0;
    right:0;
    padding: .2em .5em;
}
table.dispositivos tr td {
    display:block;
    height:22%;
    font-size:.8em;
}
table.dispositivos tr td div input{
    float:left;
    width:100%;
}
table.dispositivos tr td:first-child {
    font-size:1em;
}
table.dispositivos tr td:last-child {
    margin: -57px 0;
}
.iconEdit {
    font-size:2em !important;
}
/*SALIDAS*/
table.salidas tr {
    height:42px;
    padding:0 0 2px 5px;
}
table.salidas tr td:last-child {
    float:right;
    padding:8px 0 0 0;
    margin-right:10px;    
}
table.salidas td{
    display:inline-block;
    border:none !important;
}

table.salidas td h4 {
    padding: 15px 0 0 0;
    float:left;
}
table.salidas > tr td div{
    width:50%;
    position:relative;
    display:inline-block;
}
table.salidas tr td > div {
    width:100%;
}
table.salidas td:last-child {
    padding: 12px;
    width: 120px;
}
.popup.temporizacion {
    height:170px;
}
.switchContainer {
    position:relative;
    width: 122px !important;
}
.switchContainer span {
    position: absolute;
    color: #fff;
    z-index: 1;
    width: 49px;
    left: 8px;
    top: 5px;
    text-align: left;
}
.temporizadafalse span,
.temporizadanull span {
    display:none;
}
.temporizadatrue .on:after {
    content:"" !important;
}
.switch {
    position:relative;
    width: 126px !important;
}
.switch:after {
    position:absolute;
    top:4px;
    left:35px;
    color:#fff;
}
.switch.on:after {
    content: "Encendida";
    color: #fff;
    left: 13px;
}
.switch:after {
    content: "Apagada";
    color:#000;
    left:36px;
}
.switch.on {
    background: #03ae74 !important;
    color:#fff;
}
.switch.on .switch-toggle {
    left: 99px !important;
}
.switch-toggle {
    left:0px !important;
}

@media screen and (max-width: 350px) {
    table.salidas td input{
        width:100% !important;
    }
}

/* Tareas */
table.tareas tr td:last-child a {
    font-size:2.1em;
    color:#03ae74;
}
table.tareas tr div {
    width:96%;
}
table td ul li.iconReloj a {
    position:relative;
    color:#03ae74;
    left:0;
    top: -3px;
}
.col3 td {
    width:32%;
}
/*SUBTAREAS*/

table.subtareas .col3 td input {
    margin:0;
    display:block;
}
table.subtareas .col3 td.middle input{
    margin:0 auto;
}
table.subtareas .col3 td:last-child {
    width:70px;
}
