html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strike,
center,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
menu,
nav,
mark{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
a {
    cursor: pointer;
}
div.left {
    float: left;
    width: 100%;
    text-align: left;
}
html {
    height: 100%;
}
body {
    line-height: 1;
    font-family: Arial;
    overflow-x: hidden;
    padding: 50px 10px !important;
	font-size:18px;
}
ul {
    list-style: none;
}
ul.inline {
	width:100%;
	display:inline-block;
}
ul.inline li {
	width:40% !important;
	float:left;
	margin-right:10px;
}
ul.inline li select {
	width:100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.container {
    padding: 20px 0;
}
/* ICONOS */
 
.iconHeader {
    color:#fff;
    font-size:1.3em; 
}
.iconHeader {
    position:absolute;
    top:11px;
}
.iconHeader.left {
    left:15px;
}
.iconHeader.rigth {
    right:15px;
}
.back:before { 
    content: "\2770\ ";
}
.menu {
    font-weight:bold;
    top: 14px;
}
.menu:after {
    content: "\2630\ "; 
}
/* ICONOS */
/* MENU APLICACION*/
header {
    background-color: #03ae74;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
}
header h1 {
    display: block;
    color: #fff;
    padding-top:12px;
}

.menuList li {
    margin: 15px 5px;
}
table div tr td{
    width:100%;
}
th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid black;
}
label {
    padding: 10px 0;
		font-weight:bold;
}
input[type="text"],
textarea,
select {
    margin-top: 5px;
    border-radius: 2px;
    padding: 3px;
}
h1 { font-size: 1.2em; }
/*CasaCtrl HOME*/

button,
.button {
    font-size: 1em;
    background: #333;
    color: #fff;
    display: block;
    border-radius: 5px;
    font-weight: bold;
    padding: 13px;
}
/*DISPOSITIVOS*/
table.dispositivos {
    margin-bottom:20px;
}
