@charset "UTF-8";
/* Colores admin */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General */
.showfalse, .switch-toggle {
  display: none !important; }

html {
  height: 100%; }

body {
  line-height: 1;
  font-family: Arial;
  overflow-x: hidden;
  padding: 27px 0 !important;
  font-size: 18px;
  width: 100%;
  color: #384259;
  background: #fff;
  margin: 0 auto; }

a {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none; }

h1 {
  font-size: 1em;
  color: #fff; }

.container {
  padding: 50px 8px; }
  .container > div ul {
    right: 60px; }

header, .footer {
  position: fixed;
  z-index: 2;
  padding: 5px;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px; }

header {
  text-align: left;
  top: 0;
  left: 0; }
  header h1 {
    position: absolute;
    top: 0;
    left: 0; }

/* estilos TABLAS */
table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0; }
  table tr {
    border: 1px solid #384259;
    height: 57px; }
  table tr.disabledtrue {
    border: 1px solid red; }
  table td {
    position: relative; }
  table a {
    color: #384259; }
  table .listIcons {
    position: absolute;
    z-index: 3;
    right: -10px;
    top: 7px;
    font-size: 1.4em; }
    table .listIcons li {
      margin-left: 10px; }

/* estilos TABLAS */
/* Colores para header y footer segun el usuario logueado */
a[class*="icon"] a,
li[class*="icon"] a {
  color: #fff;
  font-size: 1.3em; }

header h1 {
  padding-top: 15px;
  margin-left: 12px;
  position: absolute;
  top: 0;
  left: 0; }

.footer {
  bottom: 0;
  top: auto;
  z-index: 2; }
  .footer h3 {
    position: absolute;
    color: #fff;
    right: 18px;
    top: 18px; }
  .footer .listIcons {
    float: left; }
    .footer .listIcons li {
      margin: 0 20px 0 0; }

/* Setea colores de fondo para los elementos de la pagina segun el usuario logueado */
.adminModetrue header, .adminModetrue .footer, .adminModetrue .switch.on {
  background: #24695f; }

.adminModefalse header, .adminModefalse .footer, .adminModefalse .switch.on {
  background: #F73859; }

/* Dispositivos */
table.dispositivos tr td {
  padding: 4px 0;
  display: block;
  font-size: 0.8em; }
table.dispositivos tr .tieneLucesEncendidastrue li.Dispositivos a {
  color: #dabb23; }
table.dispositivos tr .tieneLucesEncendidastrue li.Dispositivos span {
  font-size: 1.1em; }
table.dispositivos .disabledtrue span.nro {
  display: none; }
table.dispositivos li.Dispositivos {
  position: relative; }
table.dispositivos li .listIcons {
  right: -30px; }

/* Dispositivos */
.switchContainer {
  position: relative; }

div.switchContainer * {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none; }

.switchMainContainer span {
  position: absolute;
  color: #384259;
  z-index: 1;
  width: 49px;
  font-weight: bold;
  left: 13px;
  top: 58px;
  text-align: left; }

.disabledtrue .listIcons {
  display: none; }

.temporizadafalse span, .temporizadanull span, .admintrue .switchContainer, .temporizadatrue .switch span, .adminfalse .onlyAdmin {
  display: none; }

.switch {
  width: 111px !important;
  height: 35px !important;
  border-radius: 35px !important;
  border: 1px solid #384259;
  color: #384259 !important; }
  .switch.on {
    background: #F73859 !important;
    color: #fff; }
  .switch.on:after {
    content: "Encendida" !important;
    color: #fff;
    left: 12px !important; }

.switch:after,
.temporizadatrue span {
  position: absolute;
  top: 10px !important;
  left: 16px !important;
  font-size: 1.1em;
  display: block !important;
  content: "Apagada" !important; }

table.salidas tr td a {
  padding-top: 12px; }
table.salidas tr td.floatRight {
  float: right;
  margin: 10px 5px; }
table.salidas .temporizadatrue span {
  color: #fff; }
table.salidas .temporizadatrue .switch:after {
  content: "";
  left: 38px !important; }

.dispositivosSelect {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

/* Zonas */
.zonas .listIcons {
  font-size: 1em;
  top: -19px; }

/* Zonas */
/* Configuracion */
.ajustes label {
  display: block; }
  .ajustes label a {
    color: #384259;
    padding: 20px 0; }

/* Configuracion */
/* Tareas */
.tareas .listIcons {
  font-size: 1em;
  left: 0;
  top: -15px; }
.tareas tr td:last-child {
  display: block;
  border: 1px solid #000;
  height: 40px; }

/* Tareas */
/* Menues verticales */
.menuList li {
  margin-bottom: 20px; }

input[type="time"] {
  width: 95px !important;
  letter-spacing: 0;
  background: none;
  color: #fff;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  font-size: 0.6em; }

button, .button {
  font-size: 1em;
  background: #fff;
  border: 1px solid #384259;
  color: #384259;
  display: block;
  border-radius: 3px;
  min-width: 60px !important;
  font-weight: bold;
  padding: 13px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* Menues verticales */
table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0; }
  table td {
    display: inline-block;
    text-align: left; }
  table tr {
    position: relative; }
    table tr td a {
      margin: 4px 8px; }

#loading {
  bottom: 8px;
  left: 50%;
  margin-left: -20px;
  position: absolute; }
  #loading div {
    margin: -8px auto; }

/* Lista de iconos horizontal */
.listIcons {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-right: 12px; }
  .listIcons li {
    margin-left: 30px;
    font-size: 1.8em; }

.footer .listIcons .Microfono {
  margin-top: 7px; }

.Login:before {
  content: "⚙"; }

.Logout:before {
  content: "⬅"; }

.Delete a {
  padding-top: 3px !important; }
  .Delete a:after {
    content: "✗"; }

table .Delete a {
  margin-top: 12px;
  color: red; }

.menu {
  font-size: 1em;
  margin-top: 5px; }
  .menu:after {
    content: "☰"; }

/* Iconos + y Tilde */
.Add a:before {
  content: "✚"; }

.Save a:after {
  content: "✓"; }

.Microfono {
  font-size: 1.4em !important; }

.Reloj a:before {
  content: "⏱"; }

.controlPersianas {
  width: 143px;
  margin: 0px 0 0 -39px;
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 36px; }
  .controlPersianas li {
    display: inline-block;
    width: 47px; }
    .controlPersianas li a[class*=icon] {
      margin: -16px 9px;
      font-size: 2em;
      color: #384259 !important; }
  .controlPersianas .iconDOWN:before {
    content: "▼"; }
  .controlPersianas .iconSTOP:before {
    content: "◼"; }
  .controlPersianas .iconUP:before {
    content: "▲"; }

/*# sourceMappingURL=Arduinode.css.map */
